# Data Cleaning

### Cleaning Fighters Data

In [96]:
import pandas as pd
import numpy as np

In [97]:
fighters_df = pd.read_csv('raw_data/raw_fighters.csv')

In [98]:
fighters_df.head()

,First,Last,Nickname,Ht.,Wt.,Reach,Stance,W,L,D,Belt
0,Tom,Aaron,NaN,--,155 lbs.,--,NaN,5,3,0,NaN
1,Danny,Abbadi,The Assassin,"5' 11""",155 lbs.,--,Orthodox,4,6,0,NaN
2,Nariman,Abbasov,Bayraktar,"5' 8""",155 lbs.,"66.0""",Orthodox,28,4,0,NaN
3,Darion,Abbey,NaN,"6' 2""",265 lbs.,"80.0""",Orthodox,9,5,0,NaN
4,David,Abbott,Tank,"6' 0""",265 lbs.,--,Switch,10,15,0,NaN

In [99]:
def check_types(df):
    print(df.dtypes)

In [100]:
check_types(fighters_df)

First        object
Last         object
Nickname     object
Ht.          object
Wt.          object
Reach        object
Stance       object
W             int64
L             int64
D             int64
Belt        float64
dtype: object

In [101]:
def number_of_values(df):
    print("================ Number of unique values for each col ================")
    for col in df.columns.tolist():
        print(f'{col} : {df[col].nunique()}')
    print("="*70)

In [102]:
number_of_values(fighters_df)

================ Number of unique values for each col ================
First : 1747
Last : 2660
Nickname : 1599
Ht. : 28
Wt. : 106
Reach : 28
Stance : 5
W : 54
L : 38
D : 12
Belt : 0
======================================================================

In [103]:
# Ht. column
def format_height(height=""):
    if height == '--':
        return np.nan
    height = height.rstrip('"')
    height = height.replace("' ", ".")
    return height


fighters_df['Ht.'] = fighters_df['Ht.'].apply(format_height)
fighters_df['Ht.'] = fighters_df['Ht.'].astype('float32')

In [104]:
# Wt. column
def format_weight(height=""):
    if height == '--':
        return np.nan
    height = height.rstrip(' lbs.')
    return height


fighters_df['Wt.'] = fighters_df['Wt.'].apply(format_weight)
fighters_df['Wt.'] = fighters_df['Wt.'].astype('float32')

In [105]:
# Reach column
def format_reach(height=""):
    if height == '--':
        return np.nan
    height = height.rstrip('"')
    return height


fighters_df['Reach'] = fighters_df['Reach'].apply(format_reach)
fighters_df['Reach'] = fighters_df['Reach'].astype('float32')

In [106]:
# print(len("================ Columns having missing values ================"))
def print_missing_values(df):
    print("================ Columns having missing values ================")
    for col in df.columns.tolist():
        if df[col].isna().sum():
            print(f'{col} : {df[col].isna().sum()}')
    print("="*64)

In [107]:
print_missing_values(fighters_df)

================ Columns having missing values ================
First : 11
Nickname : 1590
Ht. : 315
Wt. : 74
Reach : 1618
Stance : 734
Belt : 3567
================================================================

In [108]:
# Making stance column categorical
fighters_df['Stance'] = fighters_df['Stance'].astype('category')

In [109]:
# W - L - D can not be so big.
# It is better to make them only 32-bits
for col in ['W','L','D'] : 
    fighters_df[col] = fighters_df[col].astype('int32')

In [110]:
fighters_df.head()

,First,Last,Nickname,Ht.,Wt.,Reach,Stance,W,L,D,Belt
0,Tom,Aaron,NaN,NaN,155.0,NaN,NaN,5,3,0,NaN
1,Danny,Abbadi,The Assassin,5.11,155.0,NaN,Orthodox,4,6,0,NaN
2,Nariman,Abbasov,Bayraktar,5.80,155.0,66.0,Orthodox,28,4,0,NaN
3,Darion,Abbey,NaN,6.20,265.0,80.0,Orthodox,9,5,0,NaN
4,David,Abbott,Tank,6.00,265.0,NaN,Switch,10,15,0,NaN

I think this is enough for cleaning fighters data

In [111]:
fighters_df.to_csv('data/Fighters.csv')

### CLeaning Events Data

In [112]:
events_df = pd.read_csv('raw_data/raw_events.csv')
events_df.head()

,Event_Id,Name,Date,Location
0,754968e325d6f60d,UFC Fight Night: Walker vs. Zhang,"August 23, 2025","Shanghai, Hebei, China"
1,421ccfc6ddb17958,UFC 319: Du Plessis vs. Chimaev,"August 16, 2025","Chicago, Illinois, USA"
2,6cd3dfc54f01287f,UFC Fight Night: Dolidze vs. Hernandez,"August 09, 2025","Las Vegas, Nevada, USA"
3,f2c934689243fe4e,UFC Fight Night: Taira vs. Park,"August 02, 2025","Las Vegas, Nevada, USA"
4,28d8638ea0a71908,UFC Fight Night: Whittaker vs. De Ridder,"July 26, 2025","Abu Dhabi, Abu Dhabi, United Arab Emirates"

In [113]:
check_types(events_df)

Event_Id    object
Name        object
Date        object
Location    object
dtype: object

In [114]:
print_missing_values(events_df)

================ Columns having missing values ================
================================================================

! Perfect

In [115]:
events_df['Date'] = pd.to_datetime(events_df['Date'], format="%B %d, %Y")
events_df.head()

,Event_Id,Name,Date,Location
0,754968e325d6f60d,UFC Fight Night: Walker vs. Zhang,2025-08-23,"Shanghai, Hebei, China"
1,421ccfc6ddb17958,UFC 319: Du Plessis vs. Chimaev,2025-08-16,"Chicago, Illinois, USA"
2,6cd3dfc54f01287f,UFC Fight Night: Dolidze vs. Hernandez,2025-08-09,"Las Vegas, Nevada, USA"
3,f2c934689243fe4e,UFC Fight Night: Taira vs. Park,2025-08-02,"Las Vegas, Nevada, USA"
4,28d8638ea0a71908,UFC Fight Night: Whittaker vs. De Ridder,2025-07-26,"Abu Dhabi, Abu Dhabi, United Arab Emirates"

In [116]:
events_df.to_csv('data/Events.csv')

Now let's get to the largest dataframe :)

### Cleaning Fights Data

In [156]:
fights_df = pd.read_csv('raw_data/raw_fights_detailed.csv').set_index('Fight_Id')

In [157]:
check_types(fights_df)

Win/No Contest/Draw     object
Fighter_1               object
Fighter_2               object
KD_1                    object
KD_2                    object
STR_1                   object
STR_2                   object
TD_1                    object
TD_2                    object
SUB_1                   object
SUB_2                   object
Weight_Class            object
Method                  object
Round                    int64
Fight_Time              object
Event_Id_x              object
Result_1                object
Result_2                object
Time Format             object
Referee                 object
Method Details          object
Kd_1                   float64
Kd_2                   float64
Sig. Str._1             object
Sig. Str._2             object
Sig. Str. %_1           object
Sig. Str. %_2           object
Total Str._1            object
Total Str._2            object
Td_1                    object
Td_2                    object
Td %_1                  object
Td %_2                  object
Sub. Att_1             float64
Sub. Att_2             float64
Rev._1                 float64
Rev._2                 float64
Ctrl_1                  object
Ctrl_2                  object
Head_1                  object
Head_2                  object
Body_1                  object
Body_2                  object
Leg_1                   object
Leg_2                   object
Distance_1              object
Distance_2              object
Clinch_1                object
Clinch_2                object
Ground_1                object
Ground_2                object
Event_Id_y              object
dtype: object

--> All columns are objects

In [158]:
def values_count(df):
    for col in df.columns.tolist():
        yield col, df[col].value_counts(dropna=False)

# usage:
# gen = unique_values(fights_df)
# next(gen)  # returns (column_name, value_counts_series) for the next column

In [159]:
cols = values_count(fights_df)

I am going to do this for the rest of columns

In [160]:
col,value_counts = next(cols)
print(col)
value_counts.index.to_list()

Win/No Contest/Draw

['win', 'ncnc', 'drawdraw']

In [ ]:

def clean_missing_fight_detail(col):
    fights_df[col] = (fights_df[col]
                         .replace('--', pd.NA)
                         .astype('Int32'))
    
def make_categorical(col):
    fights_df[col] = fights_df[col].astype('category')
    

def calculate_pct(pct):
    if pd.isna(pct) or pct == '---' :
        return pd.NA
    pct=pct.rstrip('%')
    return int(pct)/100
    
def parse_seconds_from_time(time):
    if pd.isna(time) or time == '--':
        return pd.NA
    minutes,seconds = time.split(':')
    return int(minutes) * 60 + int(seconds)

def of_to_pct(exp):
    if pd.isna(exp):
        return pd.NA
    x,y = exp.split('of')
    try : 
        return int(x)/int(y) * 100
    except ZeroDivisionError:
        return 0

In [162]:
def clean_fights_df():
    # I do not need this colum, I already have the result for each fighter
    # result_flag_col = 'Win/No Contest/Draw'
    # fights_df.loc[fights_df[result_flag_col] == 'ncnc', result_flag_col] = 'nc'
    # fights_df.loc[fights_df[result_flag_col] == 'drawdraw', result_flag_col] = 'draw'

    clean_missing_fight_detail('KD_1')
    clean_missing_fight_detail('KD_2')
    clean_missing_fight_detail('STR_1')
    clean_missing_fight_detail('STR_2')
    clean_missing_fight_detail('TD_1')
    clean_missing_fight_detail('TD_2')
    clean_missing_fight_detail('SUB_1')
    clean_missing_fight_detail('SUB_2')

    make_categorical('Weight_Class')
    make_categorical('Result_1')
    make_categorical('Result_2')

    fights_df['Round'] = fights_df['Round'].astype('int8')
    
    fights_df.rename(columns={'Event_Id_x' : 'Event_Id'}, inplace=True)
    
    redundant_cols = ['Kd_1', 'Kd_2', 'Td_1',
                      'Td_2', 'Win/No Contest/Draw', 'Event_Id_y']
    fights_df.drop(columns=redundant_cols, inplace=True)

    pct_cols = ['Sig. Str. %', 'Td %']
    for col in pct_cols:
        fights_df[f'{col}_1'] = fights_df[f'{col}_1'].apply(calculate_pct)
        fights_df[f'{col}_2'] = fights_df[f'{col}_2'].apply(calculate_pct)
    # Cols that are in this form : x of y    
    of_cols = ['Head_','Body_','Leg_','Distance_','Clinch_','Ground_']
    # This data is supposed to be already scraped
    # But I did not scrape it to do it myself (faster)
    for col in of_cols :
        fights_df[f"{col}%_1"] = fights_df[f"{col}1"].apply(of_to_pct)
        fights_df[f"{col}%_2"] = fights_df[f"{col}2"].apply(of_to_pct)

    fights_df['Sub. Att_1'] = fights_df['Sub. Att_1'].astype('Int8')
    fights_df['Sub. Att_2'] = fights_df['Sub. Att_2'].astype('Int8')
    fights_df['Rev._1'] = fights_df['Rev._1'].astype('Int8')
    fights_df['Rev._2'] = fights_df['Rev._2'].astype('Int8')

    fights_df['Ctrl_1'] = fights_df['Ctrl_1'].apply(parse_seconds_from_time)
    fights_df['Ctrl_2'] = fights_df['Ctrl_1'].apply(parse_seconds_from_time)

In [163]:
clean_fights_df()

AttributeError: 'float' object has no attribute 'split'

In [ ]:
fights_df.columns

Index(['Fighter_1', 'Fighter_2', 'KD_1', 'KD_2', 'STR_1', 'STR_2', 'TD_1',
       'TD_2', 'SUB_1', 'SUB_2', 'Weight_Class', 'Method', 'Round',
       'Fight_Time', 'Event_Id_x', 'Result_1', 'Result_2', 'Time Format',
       'Referee', 'Method Details', 'Sig. Str._1', 'Sig. Str._2',
       'Sig. Str. %_1', 'Sig. Str. %_2', 'Total Str._1', 'Total Str._2',
       'Td %_1', 'Td %_2', 'Sub. Att_1', 'Sub. Att_2', 'Rev._1', 'Rev._2',
       'Ctrl_1', 'Ctrl_2', 'Head_1', 'Head_2', 'Body_1', 'Body_2', 'Leg_1',
       'Leg_2', 'Distance_1', 'Distance_2', 'Clinch_1', 'Clinch_2', 'Ground_1',
       'Ground_2', 'Event_Id_y'],
      dtype='object')

In [ ]:
clean_fights_df()

['0:00',
 '0:02',
 '--',
 '0:03',
 '0:01',
 '0:05',
 '0:04',
 '0:06',
 '0:08',
 '0:07',
 '0:09',
 '0:10',
 '0:12',
 '0:15',
 '0:13',
 '0:14',
 '0:17',
 '0:11',
 '0:18',
 '0:27',
 '0:20',
 '0:19',
 '0:21',
 '0:46',
 '0:38',
 '0:48',
 '0:22',
 '0:29',
 '0:40',
 '0:16',
 '0:36',
 '0:34',
 '0:39',
 '0:24',
 '0:45',
 '0:25',
 '0:31',
 '0:35',
 '0:26',
 '0:57',
 '0:30',
 '0:56',
 '0:23',
 '0:41',
 '1:18',
 '0:47',
 '0:42',
 '0:43',
 '1:21',
 '1:00',
 '1:08',
 '1:04',
 '1:07',
 '0:28',
 '0:58',
 '1:01',
 '0:51',
 '1:03',
 '0:53',
 '1:33',
 '1:12',
 '0:44',
 '0:33',
 '1:06',
 '1:13',
 '1:14',
 '1:48',
 '1:45',
 nan,
 '1:23',
 '1:10',
 '1:42',
 '1:34',
 '1:09',
 '2:23',
 '0:49',
 '0:50',
 '1:30',
 '1:11',
 '1:43',
 '0:55',
 '1:29',
 '1:17',
 '0:54',
 '1:27',
 '1:16',
 '0:59',
 '2:54',
 '0:32',
 '1:37',
 '1:25',
 '2:08',
 '1:19',
 '1:57',
 '2:05',
 '1:44',
 '3:19',
 '2:12',
 '1:02',
 '2:15',
 '1:53',
 '1:15',
 '1:49',
 '0:37',
 '1:40',
 '2:42',
 '2:43',
 '1:20',
 '2:51',
 '1:52',
 '3:29',
 '2:25',
 '2:58',
 '2:57',
 '3:07',
 '2:28',
 '2:31',
 '2:01',
 '4:05',
 '2:33',
 '2:22',
 '1:24',
 '1:56',
 '2:27',
 '1:35',
 '1:31',
 '1:32',
 '2:06',
 '3:02',
 '1:36',
 '1:26',
 '2:52',
 '1:28',
 '1:39',
 '3:21',
 '1:05',
 '2:37',
 '3:26',
 '2:07',
 '2:00',
 '2:41',
 '4:19',
 '2:21',
 '3:13',
 '2:55',
 '4:31',
 '0:52',
 '4:12',
 '4:18',
 '2:13',
 '2:44',
 '2:36',
 '2:09',
 '3:14',
 '2:38',
 '1:22',
 '3:59',
 '2:39',
 '2:30',
 '3:31',
 '2:35',
 '2:11',
 '3:32',
 '3:10',
 '2:29',
 '1:50',
 '1:58',
 '2:03',
 '2:20',
 '3:05',
 '2:53',
 '4:45',
 '1:54',
 '3:38',
 '1:38',
 '3:53',
 '2:14',
 '2:18',
 '6:19',
 '2:47',
 '1:47',
 '4:21',
 '2:02',
 '3:01',
 '3:39',
 '3:49',
 '2:24',
 '2:56',
 '3:09',
 '3:30',
 '4:03',
 '3:08',
 '1:59',
 '5:27',
 '2:17',
 '4:23',
 '3:24',
 '5:37',
 '2:34',
 '2:10',
 '5:29',
 '2:04',
 '3:42',
 '5:00',
 '1:46',
 '2:19',
 '3:17',
 '6:49',
 '3:37',
 '4:08',
 '3:43',
 '4:27',
 '3:11',
 '1:55',
 '3:51',
 '2:49',
 '4:10',
 '3:06',
 '3:40',
 '2:16',
 '3:23',
 '3:00',
 '4:56',
 '1:41',
 '5:19',
 '6:00',
 '1:51',
 '5:07',
 '2:50',
 '3:48',
 '2:26',
 '4:20',
 '4:26',
 '5:14',
 '4:33',
 '3:04',
 '8:03',
 '6:17',
 '5:02',
 '4:29',
 '5:09',
 '3:03',
 '3:41',
 '2:48',
 '3:47',
 '3:58',
 '5:41',
 '3:44',
 '4:28',
 '3:12',
 '4:42',
 '3:28',
 '5:34',
 '4:22',
 '8:09',
 '3:25',
 '4:44',
 '4:14',
 '6:33',
 '9:14',
 '7:11',
 '4:53',
 '3:35',
 '5:36',
 '6:20',
 '3:52',
 '4:49',
 '8:51',
 '4:11',
 '5:38',
 '5:24',
 '4:39',
 '4:47',
 '3:15',
 '6:58',
 '6:21',
 '6:07',
 '7:00',
 '4:51',
 '3:57',
 '3:20',
 '4:02',
 '5:51',
 '6:02',
 '5:28',
 '8:54',
 '4:09',
 '2:46',
 '4:35',
 '5:33',
 '2:32',
 '5:46',
 '7:06',
 '8:01',
 '6:36',
 '6:34',
 '6:56',
 '2:45',
 '4:34',
 '5:05',
 '4:55',
 '4:52',
 '2:40',
 '3:34',
 '5:11',
 '4:07',
 '5:15',
 '3:56',
 '3:18',
 '4:15',
 '5:01',
 '7:04',
 '4:06',
 '6:05',
 '6:06',
 '6:39',
 '6:23',
 '4:40',
 '4:17',
 '3:50',
 '6:10',
 '6:29',
 '4:25',
 '5:10',
 '5:48',
 '7:55',
 '4:01',
 '5:25',
 '5:04',
 '3:22',
 '5:52',
 '7:34',
 '5:31',
 '4:59',
 '5:49',
 '9:26',
 '6:03',
 '3:36',
 '4:48',
 '8:47',
 '4:30',
 '5:47',
 '9:49',
 '4:24',
 '5:23',
 '5:20',
 '6:01',
 '5:57',
 '8:16',
 '3:55',
 '7:48',
 '5:30',
 '4:00',
 '7:14',
 '8:15',
 '5:44',
 '9:47',
 '7:32',
 '4:16',
 '8:38',
 '6:16',
 '7:52',
 '7:54',
 '4:50',
 '5:26',
 '10:46',
 '10:36',
 '7:07',
 '8:22',
 '9:17',
 '6:59',
 '4:36',
 '5:06',
 '9:25',
 '5:22',
 '10:09',
 '6:24',
 '6:48',
 '5:50',
 '7:16',
 '6:25',
 '6:52',
 '7:25',
 '7:53',
 '6:42',
 '5:39',
 '6:32',
 '7:45',
 '3:27',
 '4:04',
 '6:50',
 '8:48',
 '6:54',
 '5:21',
 '5:17',
 '8:37',
 '4:54',
 '6:30',
 '6:08',
 '3:33',
 '4:32',
 '3:46',
 '7:19',
 '8:39',
 '5:03',
 '4:38',
 '7:58',
 '5:18',
 '9:58',
 '12:07',
 '5:16',
 '8:25',
 '10:02',
 '6:51',
 '6:40',
 '8:04',
 '5:59',
 '2:59',
 '7:27',
 '7:05',
 '7:39',
 '6:43',
 '9:09',
 '12:24',
 '5:40',
 '7:41',
 '9:37',
 '6:28',
 '9:07',
 '10:25',
 '4:57',
 '6:45',
 '6:44',
 '6:47',
 '8:21',
 '8:59',
 '6:11',
 '7:23',
 '9:34',
 '7:24',
 '8:29',
 '10:11',
 '10:33',
 '7:36',
 '11:13',
 '9:01',
 '7:15',
 '12:01',
 '8:08',
 '6:55',
 '7:44',
 '4:41',
 '8:30',
 '11:26',
 '10:06',
 '8:45',
 '10:54',
 '10:50',
 '5:53',
 '8:58',
 '3:16',
 '8:10',
 '7:33',
 '5:54',
 '8:14',
 '6:13',
 '7:59',
 '5:35',
 '8:27',
 '8:50',
 '6:53',
 '9:40',
 '9:13',
 '6:46',
 '7:35',
 '10:13',
 '11:10',
 '7:51',
 '7:43',
 '9:55',
 '12:57',
 '6:41',
 '7:42',
 '7:10',
 '7:01',
 '6:22',
 '9:43',
 '10:08',
 '8:19',
 '5:42',
 '5:58',
 '7:46',
 '7:30',
 '4:43',
 '4:37',
 '7:12',
 '12:29',
 '10:17',
 '7:26',
 '8:32',
 '7:08',
 '5:12',
 '6:09',
 '8:23',
 '9:12',
 '7:29',
 '12:16',
 '9:15',
 '9:44',
 '10:07',
 '10:22',
 '8:42',
 '8:07',
 '8:02',
 '5:56',
 '9:24',
 '4:58',
 '8:24',
 '11:01',
 '7:37',
 '9:04',
 '7:02',
 '6:26',
 '8:31',
 '9:53',
 '10:55',
 '11:32',
 '7:13',
 '12:04',
 '4:46',
 '5:45',
 '13:16',
 '6:38',
 '13:10',
 '10:27',
 '3:54',
 '9:38',
 '11:44',
 '4:13',
 '7:17',
 '5:55',
 '7:28',
 '8:05',
 '7:38',
 '7:20',
 '12:03',
 '8:33',
 '12:58',
 '10:37',
 '10:21',
 '8:17',
 '9:00',
 '9:11',
 '8:13',
 '7:57',
 '5:32',
 '9:41',
 '9:35',
 '12:11',
 '10:53',
 '7:47',
 '13:48',
 '11:41',
 '10:28',
 '10:56',
 '10:43',
 '9:54',
 '11:33',
 '9:29',
 '10:38',
 '11:18',
 '11:08',
 '12:00',
 '9:52',
 '5:43',
 '9:51',
 '11:57',
 '12:56',
 '11:20',
 '11:11',
 '11:21',
 '7:40',
 '9:02',
 '12:17',
 '9:22',
 '7:09',
 '9:05',
 '9:39',
 '9:08',
 '12:42',
 '9:56',
 '8:34',
 '10:47',
 '10:01',
 '13:12',
 '11:19',
 '11:56',
 '10:51',
 '6:27',
 '11:25',
 '6:04',
 '10:45',
 '5:13',
 '10:04',
 '13:22',
 '10:31',
 '11:17',
 '8:57',
 '10:49',
 '8:11',
 '12:49',
 '3:45',
 '13:03',
 '9:27',
 '11:28',
 '7:21',
 '10:57',
 '11:40',
 '8:26',
 '6:15',
 '6:57',
 '11:46',
 '6:18',
 '10:03',
 '6:31',
 '7:56',
 '9:45',
 '13:35',
 '8:28',
 '10:42',
 '9:42',
 '11:58',
 '13:00',
 '7:31',
 '13:49',
 '10:12',
 '9:59',
 '8:40',
 '12:23',
 '10:40',
 '14:16',
 '12:41',
 '10:26',
 '10:05',
 '17:39',
 '21:32',
 '17:23',
 '13:44',
 '14:14',
 '19:13',
 '11:48',
 '16:02',
 '15:00',
 '11:39',
 '12:15',
 '10:48',
 '12:25',
 '10:59',
 '11:05',
 '8:56',
 '16:58',
 '12:09',
 '11:04',
 '12:45',
 '12:54',
 '12:06',
 '12:21',
 '9:23',
 '13:51',
 '9:03',
 '19:49',
 '15:50',
 '13:29',
 '22:18',
 '11:38',
 '14:58',
 '9:10',
 '9:18',
 '10:39',
 '13:13',
 '9:50',
 '10:29',
 '9:46',
 '12:40',
 '15:52',
 '11:23',
 '16:15',
 '8:06',
 '8:41',
 '12:20',
 '14:59',
 '21:14',
 '20:31',
 '11:35',
 '13:04',
 '11:22',
 '13:07',
 '9:28',
 '13:31',
 '13:23',
 '10:19',
 '11:47',
 '14:06',
 '11:51',
 '12:32',
 '13:52',
 '11:06',
 '13:46',
 '10:23',
 '11:24',
 '13:11',
 '8:18',
 '16:38',
 '19:52',
 '9:20',
 '12:51',
 '9:16',
 '14:01',
 '7:18',
 '10:32',
 '18:29',
 '15:42',
 '13:20',
 '8:35',
 '15:21',
 '13:19',
 '13:08',
 '16:55',
 '10:18',
 '9:19',
 '10:14',
 '11:31',
 '11:12',
 '9:33',
 '16:14',
 '19:38',
 '16:07',
 '21:10',
 '9:06',
 '15:51',
 '10:10',
 '8:55',
 '6:35',
 '12:44',
 '20:01',
 '9:30',
 '7:49',
 '14:52',
 '12:53',
 '10:34',
 '8:00',
 '6:37',
 '8:43',
 '7:03',
 '13:37',
 '16:40',
 '6:12',
 '13:47',
 '13:53',
 '10:24',
 '16:27',
 '13:43',
 '16:10',
 '11:03',
 '11:14',
 '10:41',
 '13:02',
 '12:48',
 '12:12',
 '15:02',
 '9:31',
 '13:30',
 '12:14',
 '14:22',
 '10:44',
 '8:20',
 '9:57',
 '7:50',
 '8:44',
 '12:31',
 '17:47',
 '8:49',
 '11:34',
 '13:24',
 '8:12',
 '16:36',
 '10:15']

In [ ]:
print_missing_values(fights_df)

================ Columns having missing values ================
KD_1 : 21
KD_2 : 21
STR_1 : 21
STR_2 : 21
TD_1 : 21
TD_2 : 21
SUB_1 : 21
SUB_2 : 21
Referee : 26
Method Details : 78
Sig. Str._1 : 21
Sig. Str._2 : 21
Sig. Str. %_1 : 59
Sig. Str. %_2 : 79
Total Str._1 : 21
Total Str._2 : 21
Td %_1 : 2680
Td %_2 : 3119
Sub. Att_1 : 21
Sub. Att_2 : 21
Rev._1 : 21
Rev._2 : 21
Ctrl_1 : 21
Ctrl_2 : 21
Head_1 : 21
Head_2 : 21
Body_1 : 21
Body_2 : 21
Leg_1 : 21
Leg_2 : 21
Distance_1 : 21
Distance_2 : 21
Clinch_1 : 21
Clinch_2 : 21
Ground_1 : 21
Ground_2 : 21
Head_%_1 : 21
Head_%_2 : 21
Body_%_1 : 21
Body_%_2 : 21
Leg_%_1 : 21
Leg_%_2 : 21
Distance_%_1 : 21
Distance_%_2 : 21
Clinch_%_1 : 21
Clinch_%_2 : 21
Ground_%_1 : 21
Ground_%_2 : 21
================================================================

Fights statistics columns have the same number of missing values. What type
of missingness is this ?
I don't think it's an MCAR (Missing Completely At Random)

In [ ]:
fights_df.isna().groupby(fights_df['KD_1']).sum()

,Fighter_1,Fighter_2,KD_1,KD_2,STR_1,STR_2,TD_1,TD_2,SUB_1,SUB_2,...,Body_2,Leg_1,Leg_2,Distance_1,Distance_2,Clinch_1,Clinch_2,Ground_1,Ground_2,Event_Id_y
KD_1,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0